<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TaskManagementServicePortBinding" maxReceivedMessageSize="6553600">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="FormResultManagementServicePortBinding" maxReceivedMessageSize="6553600">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="FormDesignManagementServicePortBinding" maxReceivedMessageSize="6553600">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="DataModelsServicePortBinding" maxReceivedMessageSize="6553600">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="ContactsManagementServicePortBinding">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://app.form.com:80/Member/api/v81/form/design/FormDesignManagementService"
                binding="basicHttpBinding" bindingConfiguration="FormDesignManagementServicePortBinding"
                contract="FormDesignService.FormDesignManagementService" name="FormDesignManagementServicePort" />
            <endpoint address="http://app.form.com:80/Member/api/v81/form/result/FormResultManagementService"
                binding="basicHttpBinding" bindingConfiguration="FormResultManagementServicePortBinding"
                contract="FormResultService.FormResultManagementService" name="FormResultManagementServicePort" />
            <endpoint address="http://app.form.com:80/Member/api/v81/task/TaskManagementService"
                binding="basicHttpBinding" bindingConfiguration="TaskManagementServicePortBinding"
                contract="TaskService.TaskManagementService" name="TaskManagementServicePort" />
            <endpoint address="http://app.form.com:80/Member/api/v81/model/DataModelsService"
                binding="basicHttpBinding" bindingConfiguration="DataModelsServicePortBinding"
                contract="DataModelService.DataModelsService" name="DataModelsServicePort" />
            <endpoint address="http://app.form.com:80/Member/api/v81/contact/ContactsManagementService"
                binding="basicHttpBinding" bindingConfiguration="ContactsManagementServicePortBinding"
                contract="ContactManagerService.ContactsManagementService"
                name="ContactsManagementServicePort" />
        </client>
    </system.serviceModel>
</configuration>